@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.header {
    background: var(--header-bg);

    @include abstracts.breakpoint(lg) {
        box-shadow: 0px 20px 60px 10px var(--header-shadow);
    }
}

.top_bar {
    position: relative;
    @extend %flexItemCenter;
    padding: 30px 0;

    @include abstracts.breakpoint(lg) {
        padding: 20px 0;
    }

    @include abstracts.breakpoint(sm) {
        padding: 16px;
        justify-content: space-between;
    }

    &__more {
        display: none;

        @include abstracts.breakpoint(lg) {
            display: block;
            margin-top: 9px;
        }
    }
}

.navbar {
    margin-left: 129px; // vì thẻ a bên phải đang padding dư nên 144 phải trừ ra thêm phần padding

    @include abstracts.breakpoint(xl) {
        margin-left: 20px;
    }

    @include abstracts.breakpoint(lg) {
        position: fixed;
        background: #fff;
        inset: 0 50% 0 0;
        margin-left: 0;
        z-index: 9;
        padding: 20px 0;
        translate: -100%;
        transition: translate 0.5s;

        &.show {
            translate: 0;
        }

        &.show ~ &__overlay {
            visibility: visible;
            opacity: 1;
        }
    }

    &__close--btn {
        display: none;
        @include abstracts.breakpoint(lg) {
            display: block;
            padding: 10px 40px;
        }
    }

    &__list {
        @extend %flexItemCenter;

        @include abstracts.breakpoint(lg) {
            flex-direction: column; // cho nó thành hàng dọc
            align-items: flex-start; // cho nó qua trái
        }
    }

    &__item {
        &:hover .dropdown {
            display: block;
        }

        @include abstracts.breakpoint(lg) {
            width: 100%;

            &:hover .dropdown {
                display: none;
            }
        }
    }

    &__link {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
        display: flex;
        column-gap: 6px;
        align-items: center;
        height: 50px;
        padding: 0 15px;

        @include abstracts.breakpoint(lg) {
            padding: 0 40px;
            font-size: 1.6rem;
            line-height: 150%;

            justify-content: space-between;
        }
    }

    &__arrow {
        margin-top: 3px;
    }

    &__overlay {
        visibility: hidden;
        opacity: 0;
        // dùng hai cái này thay cho display none để khi thêm animation cho nó hiện lên thì mượt hơn

        @include abstracts.breakpoint(lg) {
            position: fixed;
            inset: 0;
            z-index: 8;
            background: rgba($color: #000000, $alpha: 0.4);

            transition: opacity, visibility;
            transition-duration: 0.5s;
        }
    }
}

.top-act {
    @extend %flexItemCenter;
    column-gap: 20px;
    margin-left: auto;

    @include abstracts.breakpoint(sm) {
        margin-left: 0;
    }

    &__group--single {
        @include abstracts.breakpoint(lg) {
            display: none;
        }
    }

    &__group--single &__btn {
        padding: 13px;
    }

    &__group {
        @extend %flexItemCenter;
        height: 50px;
        border-radius: 8px;
        background: var(--top-act-group-bg);
        box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);

        @include abstracts.breakpoint(sm) {
            display: none;
        }
    }

    &__btn {
        @extend %flexItemCenter;
        padding: 13px 20px;
        column-gap: 10px;
        cursor: pointer;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__separete {
        width: 1px;
        height: 30px;
        background: var(--top-act-group-separate);
    }

    &__avt {
        display: block;
        width: 50px;
        height: 50px;
        cursor: pointer;
        border-radius: 8px;
    }
}
