@use "../abstracts";
.dropdown {
    position: absolute;
    left: 0;

    width: min(1240px, 100%);
    padding-top: 54px;
    display: none;

    &__inner {
        --inner-padding: 30px;

        position: relative;
        border-radius: 20px;
        background: var(--dropdown-bg);
        box-shadow: 0px 40px 90px 20px var(--dropdown-shadow);
        padding: var(--inner-padding);

        &::before {
            content: url(../icons/dropdown-arrow.svg);
            position: absolute;
            top: -13px;
            left: var(--arrow-left-pos);
            translate: -50%;
            filter: var(--dropdown-arrow-color);
        }
    }
}

.top-menu {
    position: relative;
    --main-colunm-width: 292px;
    --max-inner-height: calc(
        min(582px, 100vh - 158px) - var(--inner-padding) * 2
    );

    &__main {
        height: var(--max-inner-height); // đặt lại để cho chiều dài của nó sẽ nằm gọn trong thằng inner, trừ 60 vì cái inner padding trên dưới 30px, 158px là tính cái header + với 54px padding
        width: var(--main-colunm-width);
        border-right: 1px solid var(--top-menu-border);
        overflow-y: auto;
    }
}

.menu-column {
    display: flex;
    column-gap: 14px;

    + .menu-column {
        margin-top: 22px; // tác động vào những menu-column nằm sau 1 menu-column khác
    }

    &__icon {
        flex-shrink: 0; // để khi nội dung của phần bên phải quá nhiều thì cái icon không bị méo
        width: 36px;
        height: 36px;
        position: relative;

        @include abstracts.breakpoint(xl) {
            display: none;
        }
    }

    &__content {
        flex: 1;
    }

    &__icon-1 {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    &__icon-2 {
        width: 24px;
        height: 24px;
        object-fit: contain;
        position: absolute;
        right: 0;
        bottom: 0;
        filter: var(--menu-column-icon);
    }

    &__heading {
        color: var(--menu-column-heading);
        margin-top: 4px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
    }

    &__list {
        margin-top: 19px; // 26px - 7px của padding của thằng link đầu tiên
    }

    &__item {
        &--active .sub-menu {
            display: grid;
        }
    }

    &__item--active > &__link,
    &__item:hover > &__link {
        // tác động vào thẻ link cấp 1
        color: #0071dc;
        font-weight: 500;
    }

    &__link {
        color: var(--menu-column-heading);
        padding: 7px 0;
        display: block;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 142.857%;
    }
}

.sub-menu {
    position: absolute;
    inset: 0 0 0 var(--main-colunm-width);
    padding-left: var(--inner-padding);
    gap: var(--inner-padding);
    display: none;
    grid-template-columns: repeat(3, 1fr);
    overflow-y: auto;

    &--not-main {
        position: initial;
        display: grid;
        inset: initial;
        grid-template-columns: repeat(4, 1fr);
        height: var(--max-inner-height); // giới hạn chiều cao để nó xuất hiện thanh cuộn khi chiều dài bị thu nhỏ
        padding-left: 0;
    }
}
